	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,960,464</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,960,507</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%20Case" id="resultlink_1">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_1">
				<img id="result_1_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,124,847</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_1_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%202%20Case" id="resultlink_2">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_2">
				<img id="result_2_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,041,703</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_2_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Glove%20Case" id="resultlink_3">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_3">
				<img id="result_3_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,886,241</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_3_name" class="market_listing_item_name" style="color: #D2D2D2;">Glove Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%202%20Case" id="resultlink_4">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_4">
				<img id="result_4_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,695,140</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_4_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,960,743</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%20Case" id="resultlink_1">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_1">
				<img id="result_1_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,124,880</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_1_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%202%20Case" id="resultlink_2">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_2">
				<img id="result_2_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,041,641</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_2_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Glove%20Case" id="resultlink_3">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_3">
				<img id="result_3_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,886,232</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_3_name" class="market_listing_item_name" style="color: #D2D2D2;">Glove Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%202%20Case" id="resultlink_4">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_4">
				<img id="result_4_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,695,179</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_4_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,960,192</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%20Case" id="resultlink_1">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_1">
				<img id="result_1_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,124,881</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_1_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%202%20Case" id="resultlink_2">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_2">
				<img id="result_2_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,041,591</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_2_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Glove%20Case" id="resultlink_3">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_3">
				<img id="result_3_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,885,993</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_3_name" class="market_listing_item_name" style="color: #D2D2D2;">Glove Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%202%20Case" id="resultlink_4">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_4">
				<img id="result_4_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,694,664</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_4_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,959,908</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%20Case" id="resultlink_1">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_1">
				<img id="result_1_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,124,901</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_1_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%202%20Case" id="resultlink_2">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_2">
				<img id="result_2_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,041,503</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_2_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Glove%20Case" id="resultlink_3">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_3">
				<img id="result_3_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,886,020</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_3_name" class="market_listing_item_name" style="color: #D2D2D2;">Glove Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%202%20Case" id="resultlink_4">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_4">
				<img id="result_4_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,694,481</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_4_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,959,927</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%20Case" id="resultlink_1">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_1">
				<img id="result_1_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,124,892</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_1_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%202%20Case" id="resultlink_2">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_2">
				<img id="result_2_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,041,535</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_2_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Glove%20Case" id="resultlink_3">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_3">
				<img id="result_3_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,886,036</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_3_name" class="market_listing_item_name" style="color: #D2D2D2;">Glove Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%202%20Case" id="resultlink_4">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_4">
				<img id="result_4_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,694,527</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_4_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,959,921</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%20Case" id="resultlink_1">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_1">
				<img id="result_1_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,124,897</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_1_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%202%20Case" id="resultlink_2">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_2">
				<img id="result_2_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,041,453</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_2_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Glove%20Case" id="resultlink_3">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_3">
				<img id="result_3_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,886,036</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_3_name" class="market_listing_item_name" style="color: #D2D2D2;">Glove Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%202%20Case" id="resultlink_4">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_4">
				<img id="result_4_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,694,526</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_4_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,959,898</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%20Case" id="resultlink_1">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_1">
				<img id="result_1_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,124,911</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_1_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%202%20Case" id="resultlink_2">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_2">
				<img id="result_2_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,041,720</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_2_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Glove%20Case" id="resultlink_3">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_3">
				<img id="result_3_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,886,030</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_3_name" class="market_listing_item_name" style="color: #D2D2D2;">Glove Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%202%20Case" id="resultlink_4">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_4">
				<img id="result_4_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,694,506</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_4_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
	<div class="market_listing_table_header">
		<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_their_price market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_num_listings market_sortable_column" data-sorttype="quantity">QUANTITY<span class="market_sort_arrow" style="display:none;"></span></div>
			<div class="market_listing_right_cell market_listing_price_listings_combined market_sortable_column" data-sorttype="price">PRICE<span class="market_sort_arrow" style="display:none;"></span></div>
		</div>
				<div class="market_sortable_column" data-sorttype="name"><span class="market_listing_header_namespacer"></span>NAME<span class="market_sort_arrow" style="display:none;"></span></div>
	</div>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%203%20Case" id="resultlink_0">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_0">
				<img id="result_0_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYynaSdJGhE74y0wNWIw_OlNuvXkDpSuZQmi--SrN-h3gey-Uo6YWmlIoCLMlhplhFFvwI/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,959,901</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_0_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 3 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%20Case" id="resultlink_1">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_1">
				<img id="result_1_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFYznarJJjkQ6ovjw4SPlfP3auqEl2oBuJB1j--WoY322QziqkdpZGr3IteLMlhpw4RJCv8/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,124,947</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_1_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Gamma%202%20Case" id="resultlink_2">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_2">
				<img id="result_2_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsVFx5KAVo5PSkKV4xhfGfKTgVvIXlxNPSwaOmMLiGwzgJvJMniO-Zoo_z2wXg-EVvfSmtc78HsNoy/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">2,041,457</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_2_name" class="market_listing_item_name" style="color: #D2D2D2;">Gamma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Glove%20Case" id="resultlink_3">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_3">
				<img id="result_3_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFY1naTMdzwTtNrukteIkqT2MO_Uwz5Q6cYhibyXo4rw2ALsrkRoYjuncNCLMlhpEV4XDTk/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,886,019</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_3_name" class="market_listing_item_name" style="color: #D2D2D2;">Glove Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>

<a class="market_listing_row_link" href="http://steamcommunity.com/market/listings/730/Chroma%202%20Case" id="resultlink_4">
	<div class="market_listing_row market_recent_listing_row market_listing_searchresult" id="result_4">
				<img id="result_4_image" src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f" srcset="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62f 1x, http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ/62fx62fdpx2x 2x" style="border-color: #D2D2D2;" class="market_listing_item_img" alt="" />		
				<div class="market_listing_price_listings_block">
			<div class="market_listing_right_cell market_listing_num_listings">
				<span class="market_table_value">
					<span class="market_listing_num_listings_qty">1,694,478</span>
				</span>
			</div>
			<div class="market_listing_right_cell market_listing_their_price">
				<span class="market_table_value normal_price">
					Starting at:<br/>
					<span class="normal_price">$0.03 USD</span>
					<span class="sale_price">$0.02 USD</span>
				</span>
				<span class="market_arrow_down" style="display: none"></span>
				<span class="market_arrow_up" style="display: none"></span>
			</div>
		</div>

				<div class="market_listing_item_name_block">
			<span id="result_4_name" class="market_listing_item_name" style="color: #D2D2D2;">Chroma 2 Case</span>
			<br/>
			<span class="market_listing_game_name">Counter-Strike: Global Offensive</span>
		</div>
		<div style="clear: both"></div>
	</div>
</a>
